{% set regexp = '\[.*]$' %}
{% for test in tempest_failed_tests.stdout_lines %}
{% if test.startswith('setUpClass') or test.startswith('tearDownClass') %}
{% set regexp = '.*\(|\)$' %}
{% endif %}
+{{ test | regex_replace(regexp, '') }}
{% endfor %}

{{ _filter_blacklist.stdout }}
