#!/usr/bin/env bash

set -eux
set -o pipefail

# This script runs barbican functional tests against a deployed Helion OpenStack cloud

# Discover only API tests for now
export OS_TEST_PATH="{{ ardana_qe_tests_dir }}/functionaltests/api"
export OS_TOP_LEVEL="{{ ardana_qe_tests_dir }}"
export VENV_FOLDER="{{ ardana_qe_test_venv }}"
export STESTR="{{ ardana_qe_test_venv }}/bin/stestr"
export PYTHON="{{ ardana_qe_test_venv }}/bin/python"
export TESTS_TO_SKIP_BIN="{{ ardana_qe_tests_dir }}/tests2skip.py"
#export RUN_FILTER="{{ ardana_qe_tests_dir }}/run_filters/{{ test_name }}/${1:-{{ test_run_filter }}}.txt"
export RUN_FILTER="{{ ardana_qe_tests_dir }}/run_filters/${1:-{{ test_run_filter }}}.txt"
export REQUESTS_CA_BUNDLE={{ ca_bundle }}

set +u
source ${VENV_FOLDER}/bin/activate
set -u
cd {{ ardana_qe_tests_dir }}

${VENV_FOLDER}/bin/pip install --upgrade pip
${VENV_FOLDER}/bin/pip install -r requirements.txt
${VENV_FOLDER}/bin/pip install -r test-requirements.txt

if [ ! -d {{ ardana_qe_tests_dir }}/.stestr ]; then
    ${STESTR} init
fi

if [ ! -d /var/lib/ardana/.barbican ]; then
    mkdir /var/lib/ardana/.barbican
fi

cat >/var/lib/ardana/.barbican/barbican.conf <<EOF
[DEFAULT]
EOF

cat >{{ ardana_qe_tests_dir }}/etc/barbican/barbican-functional.conf <<EOF
[DEFAULT]
[identity]
uri={{ os_admin_osrc.OS_AUTH_URL }}
version=v3
username={{ username }}
project_name={{ project_name }}
password={{ password }}
domain_name={{ os_admin_osrc.OS_DOMAIN_NAME }}
service_admin={{ service_admin }}
service_admin_project={{ service_admin_project }}
service_admin_password={{ service_admin_password }}
[keymanager]
service_type={{ service_type }}
service_name={{ service_name }}
region_name={{ region_name }}
endpoint_type={{ endpoint_type }}
server_host_href_set={{ server_host_href_set }}
[rbac_users]
project_a={{ project_a }}
project_b={{ project_b }}
admin_a={{ admin_a }}
admin_a_password={{ admin_a_password }}
creator_a={{ creator_a }}
creator_a_password={{ creator_a_password }}
creator_a_2={{ creator_a_2 }}
creator_a_2_password={{ creator_a_2_password }}
observer_a={{ observer_a }}
observer_a_password={{ observer_a_password }}
auditor_a={{ auditor_a }}
auditor_a_password={{ auditor_a_password }}
admin_b={{ admin_b }}
admin_b_password={{ admin_b_password }}
creator_b={{ creator_b }}
creator_b_password={{ creator_b_password }}
observer_b={{ observer_b }}
observer_b_password={{ observer_b_password }}
auditor_b={{ auditor_b }}
auditor_b_password={{ auditor_b_password }}
[quotas]
quota_secrets={{ quota_secrets }}
quota_orders={{ quota_orders }}
quota_containers={{ quota_containers }}
quota_consumers={{ quota_consumers }}
quota_cas={{ quota_cas }}
EOF

cat >{{ ardana_qe_tests_dir }}/.stestr.conf <<EOF
[DEFAULT]
test_path=./functionaltests/api
top_dir=./
EOF

cp /var/lib/ardana/openstack/ardana/ansible/roles/tempest/files/tests2skip.py {{ ardana_qe_tests_dir }}/tests2skip.py

${STESTR} run --concurrency=1 $($PYTHON ${TESTS_TO_SKIP_BIN} ${RUN_FILTER}) | tee {{ ardana_qe_test_log }}
${STESTR} last --subunit > {{ ardana_qe_test_subunit }}
