#!/bin/bash

# Wrapper script to execute heat tests

# Usage: python MagnumCluster.py

set -o pipefail

source ~/service.osrc

cd {{ ardana_qe_tests_dir }}/ardana-qa-tests/magnum

# Run the test
python MagnumCluster.py  > {{ ardana_qe_test_log }}

