#!/bin/bash

# Wrapper script to execute the monasca test
#
# Usage: monasca.sh

set -o pipefail

# Activate the virtual environment
source ~/service.osrc

# Run the test
python {{ ardana_qe_tests_dir }}/ardana-qa-tests/monasca/python-monasca-client-tests/test_monasca_client_details.py 2>&1 | tee {{ ardana_qe_test_log }}
