#!/bin/bash

# Wrapper script to execute the neutron tests
# within the venv
#
# Usage: neutron.sh

set -o pipefail

VENV={{ ardana_qe_test_venv }}
STESTR={{  ardana_qe_test_venv }}/bin/stestr
DPDK={{ dpdk }}
DPDKBR={{ dpdk_br }}
OCTAVIA={{ octavia }}
ESX={{ esx }}
TEST_DIR={{ ardana_qe_tests_dir }}/ardana-qa-tests/neutron/sdk_scripts

# Activate the virtual environment
source ${VENV}/bin/activate

# Run neutron tests.
source ~/service.osrc
if $DPDK;then
    export DPDK=true
    export DPDK_BR=$DPDKBR
fi
if $OCTAVIA; then
    export OCTAVIA=true
fi
cd $TEST_DIR
${STESTR} init
if $ESX; then
    export ESX=true
     ${STESTR} run -t ./ test_neutron_agent test_network_subnet test_ext_network \
     test_port test_router test_overlapping_ips test_neutron_rbac \
     test_neutron_quotas test_vm_esx --concurrency=1 | tee {{ ardana_qe_test_log }}
else
    ${STESTR} run -t ./ --black-regex 'esx' | tee {{ ardana_qe_test_log }}
fi
${STESTR} last --subunit > {{ ardana_qe_test_subunit }}
