#!/bin/bash

# Wrapper script to execute the example test
# within the venv
#
# Usage: template.sh run_filter_filename

set -o pipefail
VENV={{ ardana_qe_test_venv }}

# Activate the virtual environment
source ${VENV}/bin/activate

# Set environment variables
source ~/service.osrc

# Run the test
cd {{ ardana_qe_tests_dir }}/ardana-qa-tests/nova/nova-test-python-scripts
python -m subunit.run test_novaclient_flavor | tee {{ ardana_qe_test_subunit }} | subunit2pyunit 2>&1 | tee {{ ardana_qe_test_log }}
