#!/bin/bash

# Wrapper script to execute iverify
# within the venv
#
# Usage: remove_node.sh -c <hostname of the compute name to be removed> -n <cobbler node name>
# eg remove_compute_node.sh -c ardana-qe202-cp1-sles-comp0002-mgmt -n 2M25280TT8

set -o pipefail


LOADVMS=1
WORK_HOME={{ ardana_qe_test_work_dir }}
COMPUTE_NODE_NAME=$1
COBBLER_NODE_NAME=$2

AUTO_ID="AUTO`date +'%y%m%d%H%M%S'`"

# Run the test
#{{ ardana_qe_tests_dir }}/ardana-qa-tests/operational/remove_compute_node.sh -c $COMPUTE_NODE_NAME -n $COBBLER_NODE_NAME -n $AUTO_ID | tee \
 # ${WORK_HOME}/remove_compute_node.log

/var/lib/ardana/automation/remove_compute_node.sh -c ardana-qe102-cp1-rhel-comp0002-mgmt -n 2M25280TZC -n $AUTO_ID | tee \
 ${WORK_HOME}/remove_compute_node.log



res=$?

exit $res
