Built from: http://{{ clouddata_server }}/repos/{{ ansible_architecture }}/{{ base_repos.0 }}
Media build version: {{ cloud_media_build_version.content | b64decode }}
Configured repositories:
{% for repo in repos_to_add | sort %}
  - {{ repo }}
{% endfor %}
{% for id in sles_maint_updates_list %}
  - SLES-Maint-Update-{{ id }}
{% endfor %}
{% for id in cloud_maint_updates_list %}
  - Cloud-Maint-Update-{{ id }}
{% endfor %}
{% for repo in extra_repos_list %}
  - {{ repo }}
{% endfor %}
