#!/usr/bin/env python

import yaml

with open('cloudConfig.yml') as f:
    data = yaml.load(f.read())

data['cloud']['dns-settings'] = dict(nameservers={{dns_servers}})
data['cloud']['ntp-servers'] = {{ntp_servers}}

with open('cloudConfig.yml', 'w') as f:
    f.write(yaml.safe_dump(data, default_flow_style=False))
