---
apiVersion: v1
kind: Secret
metadata:
  name: {{ suse_osh_deploy_storage.adminSecretName }}
  namespace: {{ suse_osh_deploy_storage.adminSecretNamespace }}
type: "kubernetes.io/rbd"
data:
  key: {{ ceph_admin_keyring_b64key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ suse_osh_deploy_storage.userSecretName }}
  namespace: {{ suse_osh_deploy_storage.userSecretNamespace }}
type: "kubernetes.io/rbd"
data:
  key: {{ ceph_user_keyring_b64key }}
