jenkins/*.config.xml
jenkins/*.cred
scripts/jenkins/*.config.xml
scripts/jenkins/*.cred

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
scripts/lib/libvirt/admin-configc
scripts/lib/libvirt/cleanupc
scripts/lib/libvirt/compute-configc
scripts/lib/libvirt/net-configc
scripts/lib/libvirt/net-startc
scripts/lib/libvirt/vm-startc

roundup/

.artifacts/
mkcloud.config
mkcloud.*
*.log
.artifacts
pids/
screenlog*
