jenkins/*.config.xml
jenkins/*.cred
jenkins/ci.suse.de/gerrit-project-regexp.txt
scripts/jenkins/jenkins-job-triggerc
scripts/jenkins/*.config.xml
scripts/jenkins/*.cred

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
scripts/lib/libvirt/admin-configc
scripts/lib/libvirt/cleanupc
scripts/lib/libvirt/compute-configc
scripts/lib/libvirt/net-configc
scripts/lib/libvirt/net-startc
scripts/lib/libvirt/vm-startc

roundup/

.artifacts/
mkcloud.config
mkcloud.*
*.log
.artifacts
pids/
screenlog*
.byebug_history

scripts/jenkins/cloud/manual/ansible-venv
scripts/jenkins/cloud/manual/mitogen
scripts/jenkins/cloud/ansible/ansible_facts
scripts/jenkins/cloud/ansible/*-virt-config.yml
scripts/jenkins/cloud/ansible/input_model
scripts/jenkins/cloud/ansible/heat-stack-*.yml

scripts/jenkins/ses/ansible/ansible_facts
scripts/jenkins/ses/ansible/ses-stack-template.yml
