{% set regexp = '\[.*]$' %}
{% for test in tempest_failed_tests.stdout_lines[1:] %}
{%   if not test.startswith('tearDownClass') %}
{%     if test.startswith('setUpClass') %}
{%       set regexp = '.*\(|\)$' %}
{%     endif %}
+{{ test | regex_replace(regexp, '') }}
{%   endif %}
{% endfor %}
