{% set regexp = '\[.*]$' %}
{% set test = tempest_failed_tests.stdout_lines[0] %}
{% if not test.startswith('tearDownClass') %}
{%   if test.startswith('setUpClass')%}
{%     set regexp = '.*\(|\)$' %}
{%   endif %}
+{{ test | regex_replace(regexp, '') }}
{% endif %}
