{% set regexp = '(\[.*]$|\[.*\)$)' %}
{% set test = tempest_failed_tests.stdout_lines[0] %}
{% if test.startswith('setUpClass') or test.startswith('tearDownClass') %}
{% set regexp = '.*\(|\)$' %}
{% endif %}
+{{ test | regex_replace(regexp, '') }}

{{ _filter_blacklist.stdout }}
