ses_cluster_configuration:
  ses_cluster_name: ceph
{% if radosgw_keystone %}
  ses_radosgw_url: "http://{{ hostvars['ses'].ansible_default_ipv4.address }}:8080/swift/v1"
{% endif %}

  conf_options:
      ses_fsid: {{ hostvars['ses'].conf_options.stdout_lines.0 }}
      ses_mon_initial_members: {{ hostvars['ses'].conf_options.stdout_lines.1 }}
      ses_mon_host: {{ hostvars['ses'].conf_options.stdout_lines.2 }}
      ses_public_network: {{ hostvars['ses'].conf_options.stdout_lines.3 }}
      ses_cluster_network: {{ hostvars['ses'].conf_options.stdout_lines.4 }}
  cinder:
      rbd_store_pool: cinder
      rbd_store_pool_user: cinder
      keyring_file_name: ceph.client.cinder.keyring
  cinder-backup:
      rbd_store_pool: backups
      rbd_store_pool_user: cinder_backup
      keyring_file_name: ceph.client.cinder_backup.keyring
 # Nova uses the cinder user to access the nova pool, cinder pool
 # So all we need here is the nova pool name.
  nova:
      rbd_store_pool: nova
  glance:
      rbd_store_pool: glance
      rbd_store_pool_user: glance
      keyring_file_name: ceph.client.glance.keyring
