#!/bin/bash

# Wrapper script to execute tests running credential change ansible playbooks

set -o pipefail

#cleanup logs created from earlier run
set +e
rm $HOME/test_*_credential_change.log
set -e

TEST_DIR={{ ardana_qe_tests_dir }}/ardana-qa-tests/change_credentials

# Run tests
cd $TEST_DIR
python -m subunit.run --failfast test_change_credentials.py | tee {{ ardana_qe_test_log }}
cat {{ ardana_qe_test_log }} | {{ ardana_qe_test_venv }}/bin/subunit-filter -s --no-passthrough > {{ ardana_qe_test_subunit }}