#!/bin/bash

# Wrapper script to execute horizon selenium integration tests
# within the venv
#
# Usage: horizon.sh

set -o pipefail

VENV={{ ardana_qe_test_venv }}
STESTR={{  ardana_qe_test_venv }}/bin/stestr

# Activate the virtual environment
source ${VENV}/bin/activate

# Run horizon tests.
cd {{ ardana_qe_tests_dir }}/ardana-qa-tests/horizon/

ip=`grep public-KEY-API-extapi /etc/hosts | awk {'print $1'}`
url="https://$ip/"
adminpwd=`grep OS_PASSWORD ~/service.osrc | sed -e 's#.*=\(\)#\1#'`
demopwd=`grep -ri keystone_demo_pwd ~/scratch/ansible/next/ardana/ansible/group_vars | sed -e 's#.*_pwd: \(\)#\1#'`

sed  -i 's|^\(dashboard_url=\)\(.*\)|\1'$url'|' openstack_dashboard/test/integration_tests/horizon.conf
sed  -i "s/\(password *= *\).*/\1$demopwd/" openstack_dashboard/test/integration_tests/horizon.conf
sed  -i "s/\(admin_password *= *\).*/\1$adminpwd/" openstack_dashboard/test/integration_tests/horizon.conf

bash install_browser.sh


${STESTR} init
${STESTR} run -t ./ --concurrency=1 | tee {{ ardana_qe_test_log }}
${STESTR} last --subunit > {{ ardana_qe_test_subunit }}

exit $res