#!/bin/bash

# Wrapper script to execute the Magnum tests
#
# Usage: magnum.sh

set -o pipefail

VENV={{ ardana_qe_test_venv }}
STESTR={{ ardana_qe_test_venv }}/bin/stestr

# Activate the virtual environment
source ${VENV}/bin/activate

# Run the test
source ~/service.osrc
cd {{ ardana_qe_tests_dir }}/ardana-qa-tests/magnum/
${STESTR} init
${STESTR} run -t ./ --no-discover MagnumClusterTestSuite.py  --concurrency=1 | tee {{ ardana_qe_test_log }}
res=$?
${STESTR} last --subunit > {{ ardana_qe_test_subunit }}

exit $res