  - barclamp: database
    attributes:
      sql_engine: mysql
      mysql:
{% if not is_physical_deploy %}
        # The virtual disks have too high a latency, which
        # leads to poor database performance if each commit
        # needs to wait for the flush to complete
        innodb_flush_log_at_trx_commit: 0
        innodb_tunings:
          - "innodb_log_file_size = 64M"
          - "innodb_flush_method = O_DIRECT"
          - "innodb_flush_log_at_timeout = 60"
{% endif %}
{% if ssl_enabled %}
        ssl:
          enabled: true
          generate_certs: true
          insecure: true
{% endif %}
{% set db_ns = namespace(db_role='database-server') %}
{% if when_cloud7 %}
{%   set db_ns.db_role = 'mysql-server' %}
{% endif %}
{% set deployment = {db_ns.db_role: deployment[db_ns.db_role]} %}
{% include 'barclamps/lib/deployment.yml.j2' %}
