  - barclamp: glance
    attributes:
      api:
        protocol: {{ api_protocol }}
{% include 'barclamps/lib/ssl.yml.j2' %}
{% if ses_enabled %}
      default_store: rbd
{% elif 'swift' in deployments %}
      default_store: swift
{% endif %}
{% include 'barclamps/lib/deployment.yml.j2' %}
