  - barclamp: keystone
    attributes:
      api:
        region: CustomRegion
{% if not is_physical_deploy %}
        # The default of 8 is a bit too much for our default virtual setup
        processes: 2
{% endif %}
        protocol: {{ api_protocol }}
{% include 'barclamps/lib/ssl.yml.j2' %}
{% if want_keystone_token_type is defined %}
      signing:
        token_format: {{ want_keystone_token_type }}
{% endif %}
{% include 'barclamps/lib/deployment.yml.j2' %}
