Built from: {{ built_from }}
{% if lookup('env', 'BUILD_URL') %}
Built by: {{ lookup('env', 'BUILD_URL') }}
{% endif %}
Media build version: {{ media_build_version }}
Configured repositories:
{% if cloud_product == 'ardana'%}
{%   for repo in repos_to_add | sort %}
  - {{ repo }}
{%   endfor %}
{% endif %}
{% if is_milestone %}
  - {{ media[cloud_release].name }}
{% endif %}
{% if cloud_repo_path is defined %}
{%   for id in maint_updates_list %}
{%     for product in maintenance_updates_path %}
{%       if maintenance_updates_path[product] in mu_url.results | selectattr('item', 'equalto', id) | map(attribute='content') | join(' ') %}
  - {{ product }}-Maint-Update-{{ id }}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endif %}
{% for repo in extra_repos_list %}
  - {{ repo }}
{% endfor %}
