# The way getput reports test results is one line per test so in this case we have
# 6 lines and any failures are reported as a non-zero value in column 11. This
# almost never happens and the more interesting value is the IOPS which in
# in column 10, though I'm not sure if automation can/should deal with those
# sorts of numbers

ardana_qe_test_venv_requires:
  - 'python-subunit'

# if (( `grep 1k xxx | grep put | awk '{print $10}'|cut -f1 -d'.'` < 40 )); then grep 1k xxx|grep put; fi
#  passed: "expr `egrep -v 'Test|FAIL' {{ ardana_qe_test_log }} | wc -l` - \
#               `grep FAIL {{ ardana_qe_test_log }} | wc -l`"
ardana_qe_test_get_failed_cmd: "cat {{ ardana_qe_test_log }} | grep FAIL"
ardana_qe_test_get_results_cmds:
  ran:    "cat {{ ardana_qe_test_log }} | grep -v Test | wc -l"
  passed: "cat {{ ardana_qe_test_log }} | grep -v Test | wc -l || echo 'None'"
  failed: "cat {{ ardana_qe_test_log }} | grep FAIL | wc -l || echo 'None'"

