heat_template_version: 2016-10-14

description: >
  Stack for deploying SES AIO

parameters:
{% if server_key_name is defined %}
  key_name:
    type: string
    label: Key Name
    description: Name of key-pair to be used for compute instance
    default: {{ server_key_name }}
{% endif %}
  floating_network:
    type: string
    label: Floating IP Network
    description: Name of network to be used for NAT and floating IP addresses
    default: "{{ floating_net }}"

  network:
    type: string
    label: Network
    description: Existing network to be used by SES
    default: "{{ network }}"

  router:
    type: string
    label: Router
    description: Existing router to be used by SES network
    default: "{{ router }}"

  subnet_cidr:
    type: string
    label: Default CIDR
    description: CIDR value for the SES network when network is not provided
    default: "{{ subnet_cidr }}"

resources:
{% if network is not defined or network|length == 0 %}
  ses_network:
    type: OS::Neutron::Net
    properties:
      name: {{ heat_resource_name_prefix }}
      port_security_enabled: True

  ses_subnet:
    type: OS::Neutron::Subnet
    properties:
      name: {{ heat_resource_name_prefix }}
      network_id: { get_resource: ses_network }
      cidr: { get_param: subnet_cidr }
      ip_version: 4
      enable_dhcp: True

{% if router is not defined or router|length == 0 %}
  ses_router:
    type: OS::Neutron::Router
    properties:
      name: {{ heat_resource_name_prefix }}
      external_gateway_info:
        network: { get_param: floating_network }
{% endif %}

  ses_router_interface:
    type: OS::Neutron::RouterInterface
    properties:
      router: { {{ (router is not defined or router|length == 0) | ternary('get_resource: ses_router', 'get_param: router') }} }
      subnet: { get_resource: ses_subnet }
{% endif %}

  ses_port:
    type: OS::Neutron::Port
    properties:
      name: {{ heat_resource_name_prefix }}
      network_id: { {{ (network is not defined or network|length == 0) | ternary('get_resource: ses_network', 'get_param: network') }} }
{% if network is not defined or network|length == 0 %}
      security_groups:
        - all-incoming
{% endif %}

  ses_server:
    type: OS::Nova::Server
    properties:
{% if server_key_name is defined %}
      key_name: { get_param: key_name }
{% endif %}
      name: {{ heat_resource_name_prefix }}
      image: {{ server_image }}
      flavor: {{ server_flavor }}
      networks:
        - port: { get_resource: ses_port }

  ses_floating_ip:
    type: OS::Neutron::FloatingIP
    properties:
      floating_network: { get_param: floating_network }

  ses_floating_ip_assoc:
    type: OS::Neutron::FloatingIPAssociation
{% if network is not defined or network|length == 0 %}
    depends_on: ses_router_interface
{% endif %}
    properties:
      floatingip_id: { get_resource: ses_floating_ip }
      port_id: { get_resource: ses_port }

outputs:
  ses-floating-ip:
    description: Floating IP address of the SES node
    value: { get_attr: [ses_floating_ip, floating_ip_address] }
