{% if not when_cloud9 or ('monasca' in deployments and 'monasca-server' in deployments['monasca']) %}
  - barclamp: ceilometer
    attributes:
      api:
        protocol: {{ api_protocol }}
{%   include 'barclamps/lib/ssl.yml.j2' %}
{%   include 'barclamps/lib/deployment.yml.j2' %}
{% endif %}
