{% if 'monasca-server' in deployment %}
  - barclamp: monasca
      debug: {{ debug }}
{%   include 'barclamps/lib/deployment.yml.j2' %}
{%   if not when_cloud9 %}
        monasca-master:
          - @@crowbar@@
{%   endif %}
{% endif %}
