  - barclamp: octavia
    attributes:
      api:
        protocol: {{ api_protocol }}
{% include 'barclamps/lib/ssl.yml.j2' %}
      certs:
        # same passphrase used in qa_crowbarsetup.sh setup_octavia_cert to generate the keys
        passphrase: crowbar
        server_ca_cert_path: ca.cert.pem
        server_ca_key_path: private/ca.key.pem
        client_ca_cert_path: ca.cert.pem
        client_cert_and_key_path: private/client.cert-and-key.pem
      amphora:
        # use a CIDR that doesn't clash with any of the other networks set up on the
        # controller nodes
        manage_cidr: {{ neutron_subnet_prefix.ipv4 }}.254.1.0/24

{% include 'barclamps/lib/deployment.yml.j2' %}
