#
# (c) Copyright 2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
---

ses_cluster_configuration:
  ses_cluster_name: ceph
{% if ardana_ses_post_deploy %}
  ses_radosgw_url: "http://{{ hostvars['ses-' + ses_cluster_id].ansible_host }}:808{{ qe_env[-1] }}/swift/v1"
{% endif %}

  conf_options:
      ses_fsid: {{ hostvars['ses-' + ses_cluster_id].conf_options.stdout_lines.0 }}
      ses_mon_initial_members: {{ hostvars['ses-' + ses_cluster_id].conf_options.stdout_lines.1 }}
      ses_mon_host: {{ hostvars['ses-' + ses_cluster_id].conf_options.stdout_lines.2 }}
      ses_public_network: {{ hostvars['ses-' + ses_cluster_id].conf_options.stdout_lines.3 }}
      ses_cluster_network: {{ hostvars['ses-' + ses_cluster_id].conf_options.stdout_lines.4 }}
  cinder:
      rbd_store_pool: cinder-{{ qe_env }}
      rbd_store_pool_user: cinder-{{ qe_env }}
      keyring_file_name: ceph.client.cinder-{{ qe_env }}.keyring
  cinder-backup:
      rbd_store_pool: backups-{{ qe_env }}
      rbd_store_pool_user: cinder_backup-{{ qe_env }}
      keyring_file_name: ceph.client.cinder_backup-{{ qe_env }}.keyring
 # Nova uses the cinder user to access the nova pool, cinder pool
 # So all we need here is the nova pool name.
  nova:
      rbd_store_pool: nova-{{ qe_env }}
  glance:
      rbd_store_pool: glance-{{ qe_env }}
      rbd_store_pool_user: glance-{{ qe_env }}
      keyring_file_name: ceph.client.glance-{{ qe_env }}.keyring
