[jenkins]
query_plugins_info=False
user=USERNAME
password=APITOKEN
url=https://ci.suse.de/
#url=https://ci.opensuse.org/

# to be used as
#jenkins-jobs --conf jenkins/jenkins_jobs.ini update \
#    jenkins/ci.suse.de/:jenkins/ci.suse.de/templates/ \
#    cloud-mkcloud6-job-hyperv.yaml
